* {
	margin: 0;
	padding: 0;
}

html,
body {
    height: 100%;
    font-family: "PatrickHand";
    font-size: 16px;
}

.conteiner {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}